body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid #366BA8;
  padding: 30px;
  border-radius: 5px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2vmin;
  font-size: calc(10px + 4vmin);
  color: #e1911b;
  cursor: default;
}

.paragraph {
  color: #cfbc5e;
  margin-bottom: 10px;
  cursor: default;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 5px;
  font-size: calc(10px+2vmin);
  color: #cfbc5e;
  text-decoration: none;
}

.contactLink {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 7px;
}

.contactIcon {
  fill:#366BA8;
  margin-right: 5px;
}

.projectLink {
  text-decoration: none;
}

.buttons {
  margin:1vmin;
}

.btn {
  display: inline-block;
  background: #366BA8;
  color: #42afb0;
  border: 5px solid #366BA8;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.section-small {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.project {
  height: 15rem;
  width: 60vw;
  color: #e1911b;
  border: 5px solid #366BA8;
  margin: 15px;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .project {
    height: 20rem;
    width: 90vw;
  }
  .nav {
    font-size: 15px
  }
  .nav-name {
    font-size: 20px
  }
}

.navbar {
  background-color: #366BA8;
  color: #0d2546;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-choice {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.nav {
  margin-top:2.5vmin;
  margin-bottom:2.5vmin;
  margin-right:6vmin;
  cursor: pointer;
}

.nav-name {
  margin-top:2.5vmin;
  margin-bottom:2.5vmin;
  margin-left:6vmin;
  cursor: default;
  color: #EAB169;
}

.description {
  min-width: 90vmin;
  max-width: 90vmin;
  color: #cfbc5e;
  margin: 10px;
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.career {
  width:70vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom:4vmin;
  margin-top:1vmin
}

.job-title {
  color: #EAB169;
  text-indent:60px;
  margin:4px;
  font-size: calc(15px + 0.75vmin);
}

.job-location {
  color: #cfbc5e;
  text-indent:60px;
  margin:4px;
  font-size: calc(15px + 0.75vmin);
}

.job-period {
  color: #42afb0;
  margin:4px;
  font-size: calc(15px + 0.75vmin);
}

/* ************************** Start of Infinity Chess ************************* */

.link-to-github {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 5px;
  font-size: calc(10px+3vmin);
  color: #cfbc5e;
  text-decoration: none;
}

.game {
  margin-right: 20vmin;
  margin-left: 20vmin;
  /* margin-bottom: 10vmin; */
}

.game-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2vmin;
  font-size: 4vmin;
  color: #cfbc5e;
  cursor: default;
}

.board-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
}

.square-white {
  min-height: 10vmin;
  max-height: 10vmin;
  min-width: 10vmin;
  max-width: 10vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  background-color: #d4b187;
  border: 1px solid #d4b187;
}

.square-black {
  min-height: 10vmin;
  max-height: 10vmin;
  min-width: 10vmin;
  max-width: 10vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  background-color: #613d11;
  border: 1px solid #613d11;
}

.square-highlight {
  min-height: 10vmin;
  max-height: 10vmin;
  min-width: 10vmin;
  max-width: 10vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  background-color: #308897;
  border: 1px solid #143b70;
}

.square-chosen {
  min-height: 10vmin;
  max-height: 10vmin;
  min-width: 10vmin;
  max-width: 10vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  background-color: #d49306;
  border: 1px solid #c49411;
}

.square-last {
  min-height: 10vmin;
  max-height: 10vmin;
  min-width: 10vmin;
  max-width: 10vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  background-color: #06B67E;
  border: 1px solid #06B67E;
}

.square-check {
  min-height: 10vmin;
  max-height: 10vmin;
  min-width: 10vmin;
  max-width: 10vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  background-color: #d42f06;
  border: 1px solid #d42f06;
}

.piece-img {
  min-height: 9vmin;
  max-height: 9vmin;
  min-width: 9vmin;
  max-width: 9vmin;
}

/* ************************** End of Infinity Chess ************************* */

footer {
  margin-top: 30px;
  text-align: center;
}