/*
.App {
  text-align: center;
  background-color: #0d2546;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.App-logo {
  height: 60vmin;
  pointer-events: none;
  padding: 50px;
}

@media screen and (max-width: 600px) {
  .App-logo {
    padding: 10px;
  }

  .App-header {
    font-size: calc(2px + 1vmin)
  }
}

.App-header {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #e1911b;
}

.App-link {
  color: #42afb0;
}

.wrapper, html, body {
  height:100%;
  margin:0;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
}
*/
