@font-face {
  font-family: BeVietnamPro;
  src: url(Be_Vietnam_Pro/BeVietnamPro-Medium.ttf);
}

:root {
  --mainColor: #2E534B;
  --mainColorLight: #7DCFB6;
  --secondaryColor: #F6F4F4;
  --tertiaryColor: #530C0C;
  --neutral: #434648;
  --highlight: #FD9072;

  --scrollTime: 0.2s;
}

* {
  font-family: BeVietnamPro, Sans-Serif;;

  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}


h2 {
  font-size: 128px;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: center;
  color: var(--secondaryColor);
  margin-bottom: 1vh;
  white-space: pre-wrap;
  text-transform: uppercase;
}

p {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0em;
  color: var(--secondaryColor);
  text-align: left;

  margin-left: 20vw;
  margin-right: 20vw;
  white-space: pre-wrap;
}

li {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0em;
  color: var(--secondaryColor);
  text-align: left;

  margin-left: 20vw;
  margin-right: 20vw;
  white-space: pre-wrap;
}

.flex-col {
  display: flex !important;
  flex-direction: column !important;
}
.flex-row {
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
}
.align-center {
  align-items: center;
}
.text-left {
 text-align: left;
}
.text-right {
  text-align: right;
}

.page {
  background: var(--mainColor);
  display: flex;
  flex-direction: column;
  align-content: center;
  min-height: 150vh;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 10vh;
}

@keyframes hide{
  100% {
      color: transparent;
  }
}

.disapear {
  animation: disapear var(--scrollTime) forwards !important;
}
@keyframes disapear {
  0% {
      opacity: 100%;
  }
  100% {
      opacity: 0%;
      display: none;
  }
}
.appear {
  animation: appear var(--scrollTime) forwards;
}
@keyframes appear {
  0% {
      opacity: 0%;
  }
  100% {
      opacity: 100%;
  }
}
