@font-face {
  font-family: BeVietnamPro;
  src: url(Be_Vietnam_Pro/BeVietnamPro-Medium.ttf);
}

:root {
  --mainColor: #2E534B;
  --mainColorLight: #7DCFB6;
  --secondaryColor: #F6F4F4;
  --tertiaryColor: #530C0C;
  --neutral: #434648;
  --highlight: #FD9072;

  --scrollTime: 0.3s;
}

* {
  font-family: BeVietnamPro;

  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.upperLanding {
  background: var(--neutral);
  height: 50vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.lowerLanding {
  background: var(--mainColor);
  height: 50vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  font-size: clamp(50px, 21vmin, 250px);
  font-weight: 500;
  letter-spacing: 0em;
  text-align: center;
}

.first {
  color: var(--secondaryColor);
  position: fixed;
  bottom: 49vh;
  left:50%;
  transform: translate(-50%,0);
  line-height: 0.74em;

  animation: enterFirst var(--scrollTime) ease-out;
}
@keyframes enterFirst {
  0% {
    opacity: 0%;
    bottom: 80vh
  }
  95% {
    opacity: 100%;
  }
  100% {
    bottom: 49vh;
  }
}

.last {
  color: var(--mainColorLight);
  position: fixed;
  top: 51vh;
  left:50%;
  transform: translate(-50%,0);
  line-height: 0.77em;

  animation: enterLast var(--scrollTime) ease-out;
}
@keyframes enterLast {
  0% {
    opacity: 0%;
    top: 80vh;
  }
  95% {
    opacity: 100%;
  }
  100% {
    top: 51vh;
  }
}

.contactsLanding {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 30px;
  width: calc((8px + 30px) * 4);;
  position: fixed;
  right: 2vw;
  top: 3vh;
}

.contact { 
  fill: var(--mainColorLight);
  height: 30px;
  width: 30px;

  margin-right: 4px;
  margin-left: 4px;
}

.contact:hover {
  fill: var(--highlight);
}

.scrollArrow {
  fill: var(--mainColorLight);
  height: 52px;
  width: 52px;
  position: fixed;
  bottom: 1vh;
  left:50%;
  transform: translate(-50%,0);

  animation: bounceArrow 1s ease-in-out infinite;
}
@keyframes bounceArrow {
  0% {
    bottom:3vh;
  }
  50% {
    bottom:1vh;
  }
  100% {
    bottom:3vh;
  }
}

/* ---------------------------- Scrolling ---------------------------- */

.topnav {
  background: var(--neutral);
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  position:fixed;
  top: 0;

  animation: scrollNav var(--scrollTime);
}
@keyframes scrollNav {
  0% {
    height: 50vh;
  }
  100% {
    height: 10vh;
  }
}

.main {
  background: var(--mainColor);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  animation: scrollMain car(--scrollTime);
}
@keyframes scrollMain {
  0% {
    height: 50vh;
  }
  100% {
    height: 100vh;
  }
}

.disapear {
  animation: disapear var(--scrollTime) forwards;
}
@keyframes disapear {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
.appear {
  animation: appear var(--scrollTime) forwards;
}
@keyframes appear {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.firstNameScroll {
  animation: exitFirstName var(--scrollTime) ease-out forwards;
}
@keyframes exitFirstName {
  0% {
    bottom: 49vh;
    opacity: 100%;
  }
  100% {
    bottom: 80vh;
    opacity: 0%;
  }
}

.lastNameScroll {
  animation: exitLastName var(--scrollTime) ease-out forwards;
}
@keyframes exitLastName {
  0% {
    top: 51vh;
    opacity: 100%;
  }
  100% {
    top: 80vh;
    opacity: 0%;
  }
}

.smallName {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: center;
  color: var(--secondaryColor);

  position: fixed;
  top: 2vh;
  left: 1vw;
}

.contactsScroll {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 30px;
  width: 30vh;

  position: fixed;
  top: 3vh;
  right: 2vw;
}